// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.foto {
    width: 80px;
    height: 80px;
}

///////////////////////NUO CIA DETAS
/// 

body {
    margin: 0;
    padding: 0;
    background-image: url("travel.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
   
}

.client-line {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .client-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: flex-start;

    }

    .buttons {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        gap: 15px;
        text-align: center;
    }
}

.btn {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 220px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    line-height: 20px;
    padding: 0;
    gap: 15px;
    background-color: rgb(0, 200, 255);
}

.client-info {

    display: flex;
    margin-left: 30px;
}

.minus,
.plius {
    display: flex;
    align-items: flex-start;
    width: 220px;
}

.bold {
    font-weight: bold;
}

.klientas {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.client-info {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gg {
    width: 190px;
}

.btn {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 220px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    line-height: 45px;
    padding: 0;
    gap: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    gap: 15px;
    text-align: center;
}

.sm {
    width: 150px;
}

.blade {
    opacity: 1;
}

.link {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

.home-text {
    // justify-content: center;
    text-align: center;
    margin-top: 250px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 900;
}

.batonas {
    font-size: 20px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;
    text-decoration: none; 
}

.dd {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adminbtn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.stars {
    padding: 30px 0 0 0;
    display: flex;
    float: left;
    
    align-items: center;
    position: relative;
    [type=checkbox]+.star {
        position: relative;
        font-size: 30px;
        color: rgb(55, 255, 0);
        cursor: pointer;
        user-select: none;
        margin: 10px;
        margin-bottom: 30px;
        margin-top: -20px;
        width: 20px;
        &:after {
            position: absolute;
            content: '\2606'
            
        }
    }
    [type=checkbox]:checked+.star {
        &:after {
            position: absolute;
            content: '\2605'
        }
    }
    [type=checkbox]+.star.half {
        width: 35px;
        &:before {
            content: '\2606';
            position: absolute;
        }
        &:after {
            content: '\2605';
            position: absolute;
            width: 22px;
            overflow: hidden;
        }
    }
    [type=checkbox] {
        display: none;
    }
    .result {
        font-size: 20px;
        font-weight: bold;
        padding: 0 16px;
        position: relative;
        top: 26px;
        span {
            font-size: 12px;
            font-weight: normal;
        }
    }
    .btn {
        position: relative;
        top: 26px;
        gap: 15px;
    }

    
    
} 
.image img {
    width: 100px;
    height: auto;
    border-radius: 10%;
  }

.index-img {
    height: auto;
    width: 100px;
    border-radius: 10%;

}
.card-photo {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .link h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* add an ellipsis (...) to indicate that the text has been truncated */
  }
  
  
  
  
  
  
  
  
  